*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
ul li {
    list-style: none;
    }
a {
    color: white;
    text-decoration: none;
}
    a:hover {
    color: #a0b69a;
    text-decoration: none;
} 